<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>@ViewData["Title"] - SpoorC1810L</title>
    <meta name="description" content="">
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/viecjapan.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.3" } };
        !function (e, a, t) { var r, n, o, i, p = a.createElement("canvas"), s = p.getContext && p.getContext("2d"); function c(e, t) { var a = String.fromCharCode; s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, e), 0, 0); var r = p.toDataURL(); return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL() } function l(e) { if (!s || !s.fillText) return !1; switch (s.textBaseline = "top", s.font = "600 32px Arial", e) { case "flag": return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447])); case "emoji": return !c([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212]) }return !1 } function d(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (i = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, o = 0; o < i.length; o++)t.supports[i[o]] = l(i[o]), t.supports.everything = t.supports.everything && t.supports[i[o]], "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji))) }(window, document, window._wpemojiSettings);</script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='base-css-css' href='~/css\base.css' type='text/css' media='all'>
    <link rel='stylesheet' id='font-awesome-css' href='~/home/wp-content\themes\xeory_base\lib\fonts\font-awesome-4.5.0\css\font-awesome.min.css?ver=5.5.3' type='text/css' media='all'>
    <link rel='stylesheet' id='wp-block-library-css' href='~/home/wp-includes\css\dist\block-library\style.min.css?ver=5.5.3' type='text/css' media='all'>
    <link rel='stylesheet' id='contact-form-7-css' href='~/home/wp-content\plugins\contact-form-7\includes\css\styles.css?ver=5.3.2' type='text/css' media='all'>
    <link rel='stylesheet' id='contact-form-7-confirm-css' href='~/home/wp-content\plugins\contact-form-7-add-confirm\includes\css\styles.css?ver=5.1' type='text/css' media='all'>
    <link rel='stylesheet' id='wp-pagenavi-css' href='~/home/wp-content\plugins\wp-pagenavi\pagenavi-css.css?ver=2.70' type='text/css' media='all'>
    <link rel='stylesheet' id='ligature-symbols-css' href='~/home/wp-content\plugins\gianism\assets\css\lsf.css?ver=2.11' type='text/css' media='all'>
    <link rel='stylesheet' id='gianism-css' href='~/home/wp-content\plugins\gianism\assets\css\gianism-style.css?ver=4.4.0' type='text/css' media='all'>
    <link rel='stylesheet' id='parent-style-css' href='~/home/wp-content\themes\xeory_base\style.css?ver=5.5.3' type='text/css' media='all'>
    <link rel='stylesheet' id='child-style-css' href='~/css\style.css?ver=5.5.3' type='text/css' media='all'>
    <link rel='stylesheet' id='slick-css' href='~/home/wp-content\themes\viec-japan\slick\slick.css?ver=5.5.3' type='text/css' media='all'>
    <link rel='stylesheet' id='slick-theme-css' href='~/home/wp-content\themes\viec-japan\slick\slick-theme.css?ver=5.5.3' type='text/css' media='all'>
    <link rel='stylesheet' id='simple-favorites-css' href='~/home/wp-content\plugins\favorites\assets\css\favorites.css?ver=2.3.2' type='text/css' media='all'>
    <link rel='stylesheet' id='fancybox-css' href='~/home/wp-content\plugins\easy-fancybox\css\jquery.fancybox.min.css?ver=1.3.24' type='text/css' media='screen'>
    <script type='text/javascript' src='~/home/wp-includes\js\jquery\jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
    <script type='text/javascript' src='//webfonts.xserver.jp/js/xserver.js?ver=1.2.1' id='typesquare_std-js'></script>
    <script type='text/javascript' src='~/home/wp-content\plugins\sticky-menu-or-anything-on-scroll\assets\js\jq-sticky-anything.min.js?ver=2.1.1' id='stickyAnythingLib-js'></script>
    <script type='text/javascript' src='~/home/wp-content\themes\viec-japan\slick\slick.min.js?ver=5.5.3' id='slick.min-js'></script>
    <script type='text/javascript' src='~/home/wp-content\themes\viec-japan\js\sp-nav.js?ver=5.5.3' id='sp-nav-js'></script>
    <script type='text/javascript' src='~/home/wp-content\themes\viec-japan\js\app.js?ver=5.5.3' id='add-js'></script>
    <script type='text/javascript' src='https://kit.fontawesome.com/f98042b3a8.js?ver=5.5.3' id='fontawesome-js'></script>
    <script type='text/javascript' src='~/home/wp-content\plugins\favorites\assets\js\favorites.min.js?ver=2.3.2' id='favorites-js'></script>
    <link rel="stylesheet" href="~/home/wp-content\plugins\frontend-user-admin\frontend-user-admin.css" type="text/css" media="screen">
    <link href="~/admin/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/styles.css" rel="stylesheet" />
</head>
<body data-rsssl="1" id="#top" class="home blog wp-custom-logo post-co-8-don-hang-tuyen-dung-moi left-content default">
    <header id="header" role="banner">
        <div class="wrap">
            <a href="" class="custom-logo-link" rel="home" aria-current="page"><img width="242" height="100" src="~/assets/images/logo/logo.png" class="custom-logo" alt=""></a>
            <!-- start global nav  -->
            <nav id="gnav" class="main-navigation" role="navigation">
                <div class="wrap">
                    <div id="gnav-container" class="gnav-container">
                        <ul id="gnav-ul" class="clearfix">
                            <li id="menu-item-286" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-286">
                                <a href="">Thông Tin Đặt Chỗ</a>
                            </li>
                            <li id="menu-item-284" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-284">
                                <a href="">Trả Vé</a>
                            </li>
                            <li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-283 ">
                                <a href="">Kiểm Tra Vé</a>
                            </li>
                            <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427 inquiry">
                                <a href="">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <span class="xeory-sp-nav-btn"></span>
            <div class="hd-user"><a asp-area="Identity" asp-page="/Account/Login">
                <img src="~/home\wp-content\themes\viec-japan\images\iconmonstr-user-circle-thin.png"></a></div>
        </div>
    </header>


    @RenderBody()

    <!-- /content -->
    <footer id="footer">
        <div class="wrap">
            <div class="logo">
                <a href="index.htm" class="custom-logo-link" rel="home" aria-current="page">
                    <img width="242" height="100" src="~/assets/images/logo/logo.png" class="custom-logo" alt="">
                </a>
            </div>
            <div class="menu-footer">
                <aside id="footer-widget" class="footer-widget-area" role="complementary">
                    <div id="nav_menu-2" class="widget_nav_menu side-widget">
                        <div class="side-widget-inner">
                            <div class="menu-footer-menu-container">
                                <ul id="menu-footer-menu" class="menu">
                                    <li id="menu-item-436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-436">
                                        <a href="">Thông Tin Đặt Chỗ</a>
                                    </li>
                                    <li id="menu-item-437" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-437">
                                        <a href="">Trả Vé</a>
                                    </li>
                                    <li id="menu-item-435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-435 ">
                                        <a href="">kiểm Tra Vé</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="nav_menu-3" class="widget_nav_menu side-widget">
                        <div class="side-widget-inner">
                            <div class="menu-footer-menu-2-container">
                                <ul id="menu-footer-menu-2" class="menu">
                                    <li id="menu-item-433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433 about_site">
                                        <a href="">Về trang web</a>
                                    </li>
                                    <li id="menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-432 company">
                                        <a href="">Tổng quan Công Ty</a>
                                    </li>
                                    <li id="menu-item-434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-434 inquiry">
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside><!-- #secondary -->
            </div>
        </div>
        <div class="site-info">
            <p class="footer-copy">
                Copyright© 2020 AptechHCM-C1810L. All rights reserved.
            </p>
        </div><!-- /coppy-right -->
    </footer>
    <a href="#" class="pagetop"><span><i class="fa fa-angle-up"></i></span></a>
    <div id="aioseo-admin"></div>
    <div class="zalo-chat-widget" data-oaid="3067534328912333165" data-welcome-message="Xin chao!!!" data-autopopup="1"></div><!-- User Heat Tag -->
    <script type="text/javascript">
        (function (add, cla) { window['UserHeatTag'] = cla; window[cla] = window[cla] || function () { (window[cla].q = window[cla].q || []).push(arguments) }, window[cla].l = 1 * new Date(); var ul = document.createElement('script'); var tag = document.getElementsByTagName('script')[0]; ul.async = 1; ul.src = add; tag.parentNode.insertBefore(ul, tag); })('//uh.nakanohito.jp/uhj2/uh.js', '_uhtracker'); _uhtracker({ id: 'uhwJibO1HW' });
    </script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/viecjapan.vn\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
        /* ]]> */</script>
    <script type='text/javascript' src='~/home/wp-content\plugins\contact-form-7\includes\js\scripts.js?ver=5.3.2' id='contact-form-7-js'></script>
    <script type='text/javascript' src='~/home/wp-includes\js\jquery\jquery.form.min.js?ver=4.2.1' id='jquery-form-js'></script>
    <script type='text/javascript' src='~/home/wp-content\plugins\contact-form-7-add-confirm\includes\js\scripts.js?ver=5.1' id='contact-form-7-confirm-js'></script>
    <script type='text/javascript' id='stickThis-js-extra'>
        /* <![CDATA[ */
        var sticky_anything_engage = { "element": ".sticky-menu", "topspace": "0", "minscreenwidth": "0", "maxscreenwidth": "999999", "zindex": "100", "legacymode": "", "dynamicmode": "", "debugmode": "", "pushup": "", "adminbar": "1" };
        /* ]]> */</script>
    <script type='text/javascript' src='~/home/wp-content\plugins\sticky-menu-or-anything-on-scroll\assets\js\stickThis.js?ver=2.1.1' id='stickThis-js'></script>
    <script type='text/javascript' src='~/home/wp-includes\js\jquery\ui\effect.min.js?ver=1.11.4' id='jquery-effects-core-js'></script>
    <script type='text/javascript' src='~/home/wp-includes\js\jquery\ui\effect-highlight.min.js?ver=1.11.4' id='jquery-effects-highlight-js'></script>
    <script type='text/javascript' src='~/home/wp-content\plugins\gianism\assets\js\js.cookie.js?ver=2.1.3' id='js-cookie-js'></script>
    <script type='text/javascript' id='gianism-notice-helper-js-extra'>
        /* <![CDATA[ */
        var GianismHelper = { "confirmLabel": "Consent Required", "btnConfirm": "Confirm", "btnCancel": "Cancel" };
        var Gianism = { "admin": "" };
        /* ]]> */</script>
    <script type='text/javascript' src='~/home/wp-content\plugins\gianism\assets\js\public-notice.js?ver=4.4.0' id='gianism-notice-helper-js'></script>
    <script type='text/javascript' src='~/home/wp-content\themes\xeory_base\lib\js\jquery.pagetop.js?ver=5.5.3' id='pagetop-js'></script>
    <script type='text/javascript' src='~/home/wp-content\themes\xeory_base\lib\js\jquery.table-scroll.js?ver=5.5.3' id='table-scroll-js'></script>
    <script type='text/javascript' src='~/home/wp-content\plugins\easy-fancybox\js\jquery.fancybox.min.js?ver=1.3.24' id='jquery-fancybox-js'></script>
    <script type='text/javascript' id='~/home/jquery-fancybox-js-after'>
        var fb_timeout, fb_opts = { 'overlayShow': true, 'hideOnOverlayClick': true, 'showCloseButton': true, 'margin': 20, 'centerOnScroll': false, 'enableEscapeButton': true, 'autoScale': true };
        if (typeof easy_fancybox_handler === 'undefined') {
            var easy_fancybox_handler = function () {
                jQuery('.nofancybox,a.wp-block-file__button,a.pin-it-button,a[href*="pinterest.com/pin/create"],a[href*="facebook.com/share"],a[href*="twitter.com/share"]').addClass('nolightbox');
                /* IMG */
                var fb_IMG_select = 'a[href*=".jpg"]:not(.nolightbox,li.nolightbox>a),area[href*=".jpg"]:not(.nolightbox),a[href*=".jpeg"]:not(.nolightbox,li.nolightbox>a),area[href*=".jpeg"]:not(.nolightbox),a[href*=".png"]:not(.nolightbox,li.nolightbox>a),area[href*=".png"]:not(.nolightbox),a[href*=".webp"]:not(.nolightbox,li.nolightbox>a),area[href*=".webp"]:not(.nolightbox)';
                jQuery(fb_IMG_select).addClass('fancybox image');
                var fb_IMG_sections = jQuery('.gallery,.wp-block-gallery,.tiled-gallery,.wp-block-jetpack-tiled-gallery');
                fb_IMG_sections.each(function () { jQuery(this).find(fb_IMG_select).attr('rel', 'gallery-' + fb_IMG_sections.index(this)); });
                jQuery('a.fancybox,area.fancybox,li.fancybox a').each(function () { jQuery(this).fancybox(jQuery.extend({}, fb_opts, { 'transitionIn': 'elastic', 'easingIn': 'easeOutBack', 'transitionOut': 'elastic', 'easingOut': 'easeInBack', 'opacity': false, 'hideOnContentClick': false, 'titleShow': true, 'titlePosition': 'over', 'titleFromAlt': true, 'showNavArrows': true, 'enableKeyboardNav': true, 'cyclic': false })) });
            };
            jQuery('a.fancybox-close').on('click', function (e) { e.preventDefault(); jQuery.fancybox.close() });
        };
        var easy_fancybox_auto = function () { setTimeout(function () { jQuery('#fancybox-auto').trigger('click') }, 1000); };
        jQuery(easy_fancybox_handler); jQuery(document).on('post-load', easy_fancybox_handler);
        jQuery(easy_fancybox_auto);</script>
    <script type='text/javascript' src='~/home/wp-content\plugins\easy-fancybox\js\jquery.mousewheel.min.js?ver=3.1.13' id='jquery-mousewheel-js'></script>
    <script type='text/javascript' src='~/home/wp-includes\js\wp-embed.min.js?ver=5.5.3' id='wp-embed-js'></script>
    <script>
        (function ($) {
            $(function () {
                $(".sub-menu").css('display', 'none');
                $("#gnav-ul li").hover(function () {
                    $(this).children('ul').fadeIn('fast');
                }, function () {
                    $(this).children('ul').fadeOut('fast');
                });

                $('#gnav').addClass('active');


                $('#header-menu-tog a').click(function () {
                    $('#gnav').toggleClass('active');
                });
            });
        })(jQuery);</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("setTodaysDate")[0].setAttribute('min', today);
    </script>
</body>
</html>
