@model SpoorC1810L.Models.Train

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>Create</h1>

<h4>Train</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Field" class="control-label"></label>
                <input asp-for="Field" class="form-control" />
                <span asp-validation-for="Field" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainNo" class="control-label"></label>
                <input asp-for="TrainNo" class="form-control" />
                <span asp-validation-for="TrainNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainName" class="control-label"></label>
                <input asp-for="TrainName" class="form-control" />
                <span asp-validation-for="TrainName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteFromTo" class="control-label"></label>
                <input asp-for="RouteFromTo" class="form-control" />
                <span asp-validation-for="RouteFromTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
