@model ICollection<TrainC1810L.Models.ModelView.Books>
@*@model dynamic*@

@{
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}
<link href="~/admin/css/BookingVersion1.css" rel="stylesheet" />
@*<p>
    @foreach(var item in Model)
    {
        <p>@item.Id</p>
    }
</p>*@
<div class="container">
    <div class="row d-flex justify-content-center">
        <form class='bookingTicket'>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="compartment">Select Train:</label>
                        <select class="form-control" id="compartment" required="required">
                            <option disabled selected value="">Choose any train compartment</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.Toa</option>
                            }
                            </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <span class="message"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-sm nextButton" id="continueBooking" onclick="takeData()">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="ticketBox">
            <div class="col-md-12">
                <div class="screen-map">
                    <label for="availableRoot">Selected Seat</label>
                    <img src="~/admin/img/selected.png" class="selectedRoot" id="selectedRoot">
                    <label for="">Booked Seat</label>
                    <img src="~/admin/img/booked.png" class="bookedRoot" id="bookedRoot">
                    <label for="">Available Seat</label>
                    <img src="~/admin/img/available.png" class="availableRoot" id="availableRoot">
                </div>
            </div>
            <div class="seatSelection col-lg-12">
                <div class="seatsChart col-lg-12">
                    <p id="notification"></p>
                    <div class="seatRow row" id="seatRow">
                        <!--<div  id="book">-->
                            @*<span class="seatNumber seatUnavailable" id="1_1" role="checkbox" value="45" aria-checked="false" focusable="true" tabindex="-1">1</span>*@
                        <!--</div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="table-responsive booked_list">
            <h4 align="center">Tickets Booked</h4>
            <br />
            <div class="seatsReceipt col-lg-12">
                <p>
                    <strong>Selected Seats: <span class="seatsAmount" style="color:red;padding:0 20px;"> 0 </span></strong>
                    <button id="btnClear" class="btn" style="margin-left: 40px; margin-bottom: 11px;"> Clear </button>
                </p>
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Row</th>
                            <th>Number of Seats</th>
                            <th>Price</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="seatsList">
                    </tbody>
                </table>
            </div>
            <br />
            <div class="checkout col-lg-offset-6">
                <span>Subtotal: </span> <span class="txtSubTotal" style="color:red;padding:0 20px;"> 0.00</span>VND
                <button id="btnCheckout" name="btnCheckout" class="btn btn-primary" style="margin-left: 40px;margin-bottom: 11px;">Check out</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    function takeData() {
        var compart = $("#compartment").val();
        alert(compart);
        $("#seatRow #xoa").remove();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Admin/GetCompart",
            data: { id : $("#compartment").val() },
            success: function (data) {
                alert("done");
                console.log(data);
                //alert("done");
                //alert(data);
                //var items = '';
                $.each(data, function (i, item) {
                    
                    var totalrows = item.Total;
                    for (var i = 1 ; i <= totalrows; i++) {
                        var rows = "<div class='col-md-2' id='xoa'><span class='seatNumber' id='"+ item.NameCr+"_" + i + "' role='checkbox' value='1_" + i +"' aria-checked='false' focusable='true' tabindex=' - 1'>" +i+"</span></div>";
                        $('#seatRow').append(rows);
                    }
                    //<div id="1_5" role="checkbox" value="45" aria-checked="false" focusable="true" tabindex="-1" class=" seatNumber seatUnavailable">5</div>
                    //$('#seatRow #book').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
    }

</script>