@model ICollection<TrainC1810L.Models.ModelView.Books>

@{
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}
<link href="~/admin/css/BookingVersion1.css" rel="stylesheet" />

<div class="container">
    <div class="row d-flex justify-content-center">
        <form class='bookingTicket'>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="compartment">Select Train:</label>
                        <select class="form-control" id="compartment" required="required">
                            <option disabled selected value="">Choose any train compartment</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.Toa</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <span class="message"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-sm nextButton" id="continueBooking" onclick="takeData()">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="ticketBox">
            <div class="col-md-12">
                <div class="screen-map">
                    <label for="availableRoot">Selected Seat</label>
                    <img src="~/admin/img/selected.png" class="selectedRoot" id="selectedRoot">
                    <label for="">Booked Seat</label>
                    <img src="~/admin/img/booked.png" class="bookedRoot" id="bookedRoot">
                    <label for="">Available Seat</label>
                    <img src="~/admin/img/available.png" class="availableRoot" id="availableRoot">
                </div>
            </div>
            <div class="seatSelection col-lg-12">
                <div class="seatsChart col-lg-12">
                    <p id="notification"></p>
                    <div class="seatRow row" id="seatRow"></div>
                </div>
            </div>
        </div>
    </div>
        <div class="form-booking">
            <div class="row d-flex justify-content-center">
                <div class="table-responsive booked_list">
                    <h4 align="center">Tickets Booked</h4>
                    <br />
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="col-form-label">Name</label>
                            <input class="form-control" type="text" value="" id="Name">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="example-text-input" class="col-form-label">Age</label>
                            <input class="form-control" type="number" value="" id="Age">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input" id="Gender">
                            <label class="custom-control-label" for="Gender">Nam/Nữ</label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="example-text-input" class="col-form-label">Class</label>
                            <input class="form-control" type="text" value="" id="Info">
                        </div>
                    </div>
                    <div class="seatsReceipt col-lg-12">
                        <p>
                            <strong>Selected Seats: <span class="seatsAmount" style="color:red;padding:0 20px;"> 0 </span></strong>
                            <button id="btnClear" class="btn" style="margin-left: 40px; margin-bottom: 11px;"> Clear </button>
                        </p>
                        <br />
                        <table class="table table-bordered" id="tablechair">
                            <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>Number of Seats</th>
                                    <th>Price</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id="seatsList"></tbody>
                        </table>
                    </div>
                    <br />
                    <div class="checkout col-lg-offset-6">
                        <span>Subtotal: </span> <span class="txtSubTotal" style="color:red;padding:0 20px;">0.00</span>VND
                        <button class="btn btn-primary" style="margin-left: 40px;margin-bottom: 11px;" onclick="AddData()">Check out</button>
                    </div>
                </div>
            </div>

        </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    function takeData() {
        $("#seatRow #xoa").remove();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Admin/GetCompart",
            data: { id: $("#compartment").val() },
            success: function (data) {
                alert("Vui Lòng Chọn Ghế Ngồi");
                $.each(data, function (i, item) {
                    var totalrows = item.Total;
                    var chairc = item.Id;
                    var Toa = item.Toa;
                    var A = 10000;
                    var B = 11000;
                    var C = 12000;
                    var D = 13000;
                    var E = 14000;
                    var F = 15000;
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/Admin/GetChair",
                        data: { idchair: $("#compartment").val() },
                        success: function (data) {
                            for (var i = 1; i <= totalrows; i++) {
                                $.each(data, function (key, ctem) {
                                    let seatsID = ctem.Seats;
                                    if (seatsID == i) {
                                        var rows = "<div class='col-md-2' id='xoa'><span class='seatNumber seatUnavailable' id='" + Toa + "_" + i + "' role='checkbox' value='" + A + "' aria-checked='false' focusable='true' tabindex=' - 1'>" + i + "</span></div>";
                                        $('#seatRow').append(rows);
                                        return false
                                    } else {
                                        if (key === data.length - 1) {
                                            if (chairc == 1) {
                                                var rows = "<div class='col-md-2' id='xoa'><span class='seatNumber' id='" + Toa + "_" + i + "' role='checkbox' value='" + A + "' aria-checked='false' focusable='true' tabindex=' - 1' >" + i + "</span></div>";
                                                $('#seatRow').append(rows);
                                            } else if (chairc == 2) {
                                                var rows = "<div class='col-md-2' id='xoa'><span class='seatNumber' id='" + Toa + "_" + i + "' role='checkbox' value='" + B + "' aria-checked='false' focusable='true' tabindex=' - 1'>" + i + "</span></div>";
                                                $('#seatRow').append(rows);
                                            } else if (chairc == 3) {
                                                var rows = "<div class='col-md-2' id='xoa'><span class='seatNumber' id='" + Toa + "_" + i + "' role='checkbox' value='" + C + "' aria-checked='false' focusable='true' tabindex=' - 1'>" + i + "</span></div>";
                                                $('#seatRow').append(rows);
                                            } else if (chairc == 4) {
                                                var rows = "<div class='col-md-2' id='xoa'><span class='seatNumber' id='" + Toa + "_" + i + "' role='checkbox' value='" + D + "' aria-checked='false' focusable='true' tabindex=' - 1'>" + i + "</span></div>";
                                                $('#seatRow').append(rows);
                                            } else if (chairc == 5) {
                                                var rows = "<div class='col-md-2' id='xoa'><span class='seatNumber' id='" + Toa + "_" + i + "' role='checkbox' value='" + E + "' aria-checked='false' focusable='true' tabindex=' - 1'>" + i + "</span></div>";
                                                $('#seatRow').append(rows);
                                            } else {
                                                var rows = "<div class='col-md-2' id='xoa'><span class='seatNumber' id='" + Toa + "_" + i + "' role='checkbox' value='" + F + "' aria-checked='false' focusable='true' tabindex=' - 1'>" + i + "</span></div>";
                                                $('#seatRow').append(rows);
                                            }
                                        }

                                    }
                                });

                            }
                        }

                    });

                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
    }
    $(document).delegate('.seatNumber', 'click', function () {
        if (!$(this).hasClass("seatUnavailable")) {
            // If selected, unselect it
            if ($(this).hasClass("seatSelected")) {
                var thisId = $(this).attr('id');
                var price = $('#seatsList .' + thisId).val();
                $(this).removeClass("seatSelected");
                $('#seatsList .' + thisId).remove();
                // Calling functions to update checkout total and seat counter.
                removeFromCheckout(price);
                refreshCounter();
            }
            else {
                var thisId = $(this).attr('id');
                var id = thisId.split("_");
                var price = $(this).attr('value');
                var seatDetails = "<td>" + id[0] + "</td id='seats'> <td>" + id[1] + "<td>" + price + "</td>";


                var freeSeats = parseInt($('.freeSeats').first().text());
                var selectedSeats = parseInt($(".seatSelected").length);

                // If you have free seats available the price of this one will be 0.
                if (selectedSeats < freeSeats) {
                    price = 0;
                }

                // Adding this seat to the list
                var seatDetails = "<td>" + id[0] + "</td> <td  id='seats'>" + id[1] + "<td>" + price + "</td>";
                $("#seatsList").append('<tr class=' + thisId + '>' + seatDetails + "  " + "<td><button style='margin-left:20px;' id='remove:" + thisId + "' class='btn btn-default btn-sm removeSeat' value='" + price + "'><strong>X</strong></button></td></tr>");
                $(this).addClass("seatSelected");

                addToCheckout(price);
                refreshCounter();
            }
        }
        // Clicking any of the dynamically-generated X buttons on the list
        $(document).on('click', ".removeSeat", function () {
            // Getting the Id of the Seat
            var id = $(this).attr('id').split(":");
            var price = $(this).attr('value')
            $('#seatsList .' + id[1]).remove();
            $("#" + id[1] + ".seatNumber").removeClass("seatSelected");
            removeFromCheckout(price);
            refreshCounter();
        }
        );
        // Show tooltip on hover.
        $(".seatNumber").hover(
            function () {
                if (!$(this).hasClass("seatUnavailable")) {
                    var id = $(this).attr('id');
                    var id = id.split("_");
                    var price = $(this).attr('value');
                    var tooltip = "Row: " + id[0] + " Seat:" + id[1] + " Price:" + price;
                    $(this).prop('title', tooltip);
                } else {
                    $(this).prop('title', "Seat unavailable");
                }
            }
        );
        // Function to refresh seats counter
        function refreshCounter() {
            $(".seatsAmount").text($(".seatSelected").length);
        }
        // Add seat to checkout
        function addToCheckout(thisSeat) {
            var seatPrice = parseInt(thisSeat);
            var num = parseInt($('.txtSubTotal').text());
            num += seatPrice;
            num = num.toString();
            $('.txtSubTotal').text(num);
        }
        // Remove seat from checkout
        function removeFromCheckout(thisSeat) {
            var seatPrice = parseInt(thisSeat);
            var num = parseInt($('.txtSubTotal').text());
            num -= seatPrice;
            num = num.toString();
            $('.txtSubTotal').text(num);
        }
        // Clear seats.
        $("#btnClear").click(
            function () {
                $('.txtSubTotal').text(0);
                $(".seatsAmount").text(0);
                $('.seatSelected').removeClass('seatSelected');
                $('#seatsList tr').remove();
            }
        );
    });
    function AddData() {
        var idcompart = $("#compartment").val();
        var name = $("#Name").val();
        var age = $("#Age").val();
        var gender = $("#Gender").val();
        var Total = $(".seatSelected").length;
        if (gender == "on") {
            var gt = "true";
        } else {
            var gt = "false";
        }
        var info = $("#Info").val();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Admin/CreatePassenger",
            data: {
                Name: name,
                Age: age,
                Gender: gt,
                Total: Total,
                Class: info,
            },
            success: function (data) {
            }
        });
        var myTab = document.getElementById('tablechair');
        var ListOfChair = [];
        for (i = 1; i < myTab.rows.length; i++) {
            var objCells = myTab.rows.item(i).cells;
            for (var j = 1; j < 3; j++) {
                var Seats = objCells.item(1).innerHTML;
                var Price = objCells.item(2).innerHTML; 
                var compartmentid = idcompart;
                var listchair = { compartmentid, Seats, Price};
            }
            ListOfChair.push(listchair);
        }
        var Chair = {
            ChairList: ListOfChair
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Admin/CreateBookChair",
            data: Chair,
            success: function (data) {
                window.location.href = '/BookingTickets/Index';
            }
        });
        
    }

</script>
