@model IEnumerable<ProjectRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>List Roles</h1>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
            @item.Id
        </div>
        <div class="card-body">
            @item.RoleName
        </div>
        <div class="card-footer">
            <a class="btn btn-primary">Edit</a>
            <a class="btn btn-danger">Delete</a>
        </div>
    </div>
}