@model IEnumerable<TrainC1810L.Models.ApplicationUser>

@{
    ViewData["Title"] = "ListUser";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>Chức Danh</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.EmailConfirmed == true)
                {

                }
                else
                {
                    <a asp-action="UpdateEmail" asp-route-id="@item.Id">Active</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
