@model IEnumerable<TrainC1810L.Models.ModelView.User>

@{
    ViewData["Title"] = "ListRole";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>ListRole</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               UserName
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               123
            </td>
            <td>
              @item.UserName
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
