@model IEnumerable<TrainC1810L.Models.ApplicationUser>
@{
    ViewData["ListUser"] = "ListUser";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>List User</h1>

@foreach(var item in Model)
{
   
}
