@model TrainC1810L.Models.Bill

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>Create</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MoneyReceived" class="control-label"></label>
                <input asp-for="MoneyReceived" class="form-control" />
                <span asp-validation-for="MoneyReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Refunds" class="control-label"></label>
                <input asp-for="Refunds" class="form-control" />
                <span asp-validation-for="Refunds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalMoney" class="control-label"></label>
                <input asp-for="TotalMoney" class="form-control" />
                <span asp-validation-for="TotalMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingTicketID" class="control-label"></label>
                <select asp-for="BookingTicketID" class ="form-control" asp-items="ViewBag.BookingTicketID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
