@model IEnumerable<TrainC1810L.Models.Bill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

